body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header h1 {
    color: #4382b9;
}

#global-analysis {
    font-size: 1.1em;
    line-height: 1.6;
}

.list-group-item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
}
